.charts {
  display: inline-block;
  width: 90%;
}

.navbar-highlight {
  display: none;
  position: fixed;
  margin-top: 5px;
  height: 26px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  z-index: 30;
  pointer-events: none !important;
}

.navbar-highlight-content {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  height: 26px;
  min-width: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  color: lightgrey !important;
  pointer-events: auto !important;
}

.navbar-highlight-bar {
  cursor: pointer;
}

.navbar-highlight-button-right {
  cursor: pointer;
  padding-left: 10px;
}

.dashboard-sidebar {
  max-height: calc(100% - 70px) !important;
  overflow-y: auto;
  /*width: 220px !important;*/
}

/* By default it's not affixed in mobile views, so undo that */
.dashboard-sidebar.affix {
  position: static;
}

/* First level of nav */
.dashboard-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* All levels of nav */
.dashboard-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676 !important;
  border: none !important;
}

.dashboard-sidebar {
  color: #767676 !important;
  border: none;
}

.dashboard-sidebar .nav > li > a > .svg-inline--fa {
  width: 20px;
  text-align: center;
}

.dashboard-sidebar .nav > li > a:active,
.dashboard-sidebar .nav > li > a:hover,
.dashboard-sidebar .nav > li > a:focus {
  padding-left: 15px;
  color: #563d7c !important;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c !important;
}

.dashboard-sidebar
  .nav
  > .active
  > a
  .dashboard-sidebar
  .nav
  > .active:hover
  > a,
.dashboard-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: #563d7c !important;
  background-color: transparent;
  border-left: 2px solid #563d7c !important;
}

/* Nav: second level (shown on .active) */
.dashboard-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}

.dashboard-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}

.dashboard-sidebar .nav .nav > li > a:hover,
.dashboard-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}

.dashboard-sidebar .nav .nav > .active > a,
.dashboard-sidebar .nav .nav > .active:hover > a,
.dashboard-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

.sidebar-body {
  position: fixed;
  top: 45px;
  right: 0;
  display: none;
  height: 100vh;
  width: calc(10% - 2rem);
}

.chart_text {
  width: 100%;
}

.back-to-top:hover,
.dashboard-theme-toggle:hover {
  color: #563d7c;
  text-decoration: none;
}

@media (min-width: 1400px) {
  #hostname {
    max-width: 600px !important;
  }

  #hostnametext {
    max-width: 540px !important;
  }
}

@media (min-width: 1360px) {
  .container {
    padding-left: 3% !important;
  }

  #hostname {
    max-width: 280px !important;
  }

  #hostnametext {
    max-width: 220px !important;
  }

  .charts-body {
    width: calc(100% - 263px) !important;
    padding-left: 1% !important;
    padding-right: 2% !important;
  }

  .sidebar-body {
    display: inline-block !important;
    width: 230px !important;
  }

  /* Widen the fixed sidebar again */
  .dashboard-sidebar.affix,
  .dashboard-sidebar.affix-top,
  .dashboard-sidebar.affix-bottom {
    width: 263px !important;
  }
}

@media (min-width: 1200px) {
  #hostname {
    max-width: 100px;
  }

  #hostnametext {
    max-width: 40px;
  }
  .container {
    padding-left: 2% !important;
  }

  .charts-body {
    width: calc(100% - 233px) !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
  }

  .sidebar-body {
    display: inline-block !important;
    width: 233px !important;
  }

  .dashboard-sidebar.affix,
  .dashboard-sidebar.affix-top,
  .dashboard-sidebar.affix-bottom {
    width: 130px !important;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 0% !important;
  }

  .charts-body {
    width: calc(100% - 213px) !important;
    padding-left: 1% !important;
    padding-right: 0% !important;
  }

  .sidebar-body {
    display: inline-block !important;
    width: 213px !important;
  }

  .dashboard-sidebar .nav > .active > ul {
    display: block;
  }

  .dashboard-sidebar.affix,
  .dashboard-sidebar.affix-top,
  .dashboard-sidebar.affix-bottom {
    width: 213px !important;
  }

  .dashboard-sidebar.affix {
    position: fixed;
    top: 20px;
  }

  .dashboard-sidebar.affix-bottom {
    position: absolute;
  }

  .dashboard-sidebar.affix-bottom .dashboard-sidenav,
  .dashboard-sidebar.affix .dashboard-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 860px) {
  .dashboard-sidebar {
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .dashboard-sidebar {
    padding-left: 20px;
  }

  .charts-body {
    padding-left: 0%;
    padding-right: 0%;
  }

  .back-to-top,
  .dashboard-theme-toggle {
    display: block;
  }
}

@media print {
  body {
    overflow: visible !important;
    -webkit-print-color-adjust: exact;
    page-break-inside: auto;
    page-break-before: auto;
    page-break-after: auto;
  }

  .dashboard-section {
    page-break-inside: auto;
    page-break-before: auto;
    page-break-after: auto;
  }

  .dashboard-subsection {
    page-break-before: avoid;
    page-break-after: auto;
    page-break-inside: auto;
  }

  .charts-body {
    padding-left: 0%;
    padding-right: 0%;
    display: block;
    page-break-inside: auto;
    page-break-before: auto;
    page-break-after: auto;
  }

  .back-to-top,
  .dashboard-theme-toggle {
    display: block;
  }
}
